/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  background-color: #fcfcfc;
  color: #fff;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons i {
  margin-right: 15px;
  color: #fff;
}

.right-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  color: black
}

.custom-color span{
  color: #000000 !important;
}

.right-menu span {
  margin-left: 15px;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #f0ecea !important; 
  flex: 1; 
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav .nav-item .nav-link {
  color: #000000 !important;
  font-weight: bold;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif !important; /* Aplica la fuente Roboto */
}


.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Mantén el color blanco en el hover */
  text-decoration: underline; /* Añade subrayado en el hover */
}

.btn-custom-gray {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white !important;
}

.btn-custom-gray:hover {
  background-color: #5a6268 !important;
  border-color: #545b62 !important;
}
