/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


.header {
  background-color: #fff;
  color: #fff;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.social-icons {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 15px;
  color: #000000;
  transition: color 0.3s, transform 0.3s;
}

.social-icon-facebook:hover {
  color: #0033ff;
  transform: scale(1.2);
}

.social-icon-youtube:hover {
  color: #ee0a0a;
  transform: scale(1.2);
}

.social-icon-instagram:hover {
  color: #f60a78;
  transform: scale(1.2);
}

.right-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  color: black
}

.custom-color span{
  color: #000000 !important;
}

.right-menu span {
  margin-left: 15px;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #000000 !important; 
  flex: 1; 
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
  font-weight: bold;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif !important;
}


.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.btn-custom-gray {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white !important;
}

.btn-custom-gray:hover {
  background-color: #5a6268 !important;
  border-color: #545b62 !important;
}
